@charset "UTF-8";
/* Reset and base styles  */
@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  background-color: #F9F9F9;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.header_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 15px;
}

.header_left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  align-items: center;
}

.header_right {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: 14px;
}

.logo {
  width: 80px;
  height: 36px;
}

.btn_download {
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #00AA25;
  border: 1px solid #00AA25;
  border-radius: 50px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  transform: background-color 3s ease-in;
  transform: color 3s ease-in;
  transform: border 3s ease-in;
}
.btn_download:hover {
  background-color: #00AA25;
  color: #FFF;
  border: none;
}

.left_nav {
  display: flex;
  color: #4D5D65;
  border: 1px solid #d4d7d8;
  border-radius: 50px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
}

.right_nav {
  display: flex;
  margin: auto;
  gap: 20px;
}

.btn_nav {
  font-family: "SF Pro Display", sans-serif;
  border-radius: 50px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  transition: border 4s ease-in;
  transition: background-color 3ms ease-in-out;
}
.btn_nav:hover {
  border: 1px solid;
  border-radius: 50px;
  background-color: rgba(77, 93, 101, 0.1);
}

.header_link {
  font-family: "SF Pro Display", sans-serif;
  color: #4D5D65;
}

.right_nav .header_link {
  display: inline-block;
  color: #4D5D65; /* Цвет обычной ссылки */
  line-height: 1;
  text-decoration: none; /* Убираем подчеркивание */
  cursor: pointer;
}

.right_nav .header_link:after {
  background-color: #00AA25; /* Цвет линии при наведении на нее курсора мыши */
  display: block;
  content: "";
  height: 2px; /* Высота линии */
  width: 0%;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.right_nav .header_link:hover:after,
.right_nav .header_link:focus:after {
  width: 100%;
}

.preview {
  display: flex;
  width: 100%;
  padding-top: 122px;
  padding-bottom: 129px;
}

.preview_wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.summoner {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-family: "SF Pro Display", sans-serif;
  font-size: 58px;
  font-weight: bold;
  color: black;
}

.title_green {
  font-family: "SF Pro Display", sans-serif;
  font-size: 58px;
  font-weight: bold;
  color: #2CBA4B;
  padding-left: 10px;
}

.summoner_text {
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  color: #4D5D65;
  line-height: 19px;
}

.circle {
  position: absolute;
  margin-right: 70px;
  margin-top: 10px;
}

.book_btn {
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #00AA25;
  color: #FFF;
  border-radius: 50px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  transform: background-color 3s ease-in;
  transform: color 3s ease-in;
  transform: border 3s ease-in;
}
.book_btn:hover {
  background-color: #FFF;
  color: #00AA25;
  border: 1px solid #00AA25;
}

.benefits {
  display: flex;
  flex-direction: row;
  padding-top: 70px;
  gap: 16px;
}

.benefits_cards {
  display: flex;
  flex-direction: column;
  border: 1px solid #d4d7d8;
  border-radius: 10px;
  width: 220px;
  height: 130px;
}

.benefits_img {
  width: 70px;
  height: 70px;
}

.benefits_text {
  font-family: "SF Pro Display", sans-serif;
  font-size: 17px;
  font-weight: medium;
  color: #001723;
  padding-left: 17px;
}

.map {
  display: flex;
  position: absolute;
  width: 487px;
  height: 507px;
  right: 0;
  margin-right: 190px;
}

.interective {
  display: flex;
  width: 100%;
  background-color: #001405;
  height: 414px;
}

.interactive_wrapper {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.interactive_title {
  position: absolute;
  font-family: "SF Pro Display", sans-serif;
  font-weight: bold;
  font-size: 55px;
  color: #FFF;
}

.green {
  color: #2CBA4B;
}

.interactive_phone {
  display: flex;
  position: absolute;
  right: 0;
}

.instruction {
  display: flex;
  width: 100%;
}

.instruction_wrapper {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  gap: 70px;
}

.instructions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.instruction_card {
  display: flex;
  width: 510px;
  border: 1px solid #FFF;
  border-radius: 50px;
  background-color: #FFF;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  gap: 5px;
}

.card_text {
  display: flex;
  font-family: "SF Pro Display", sans-serif;
  font-size: 17px;
  font-weight: medium;
  color: #001723;
}

.other_text {
  font-family: "SF Pro Display", sans-serif;
  color: #4D5D65;
  font-size: 18px;
  margin-left: 20px;
}

.instruction_img {
  width: 716px;
}

.instruction_pretitle {
  font-family: "SF Pro Display", sans-serif;
  color: #2CBA4B;
  font-size: 20px;
  font-weight: medium;
}

.instruction_title {
  color: #001723;
  font-family: "SF Pro Display", sans-serif;
  font-weight: bold;
  font-size: 50px;
}

.title_img {
  width: 35px;
  height: 70px;
}

.important {
  display: flex;
  width: 100%;
  padding-bottom: 189px;
}

.important_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.info {
  display: flex;
  flex-direction: column;
  padding-top: 133px;
}

.important_title {
  color: #001723;
  font-family: "SF Pro Display", sans-serif;
  font-weight: bold;
  font-size: 56px;
}

.important_text {
  font-family: "SF Pro Display", sans-serif;
  color: #4D5D65;
  font-size: 14px;
}

.danger_icon {
  width: 45px;
  height: 70px;
}

.rules {
  display: flex;
  flex-direction: column;
  width: 37%;
}

.rules {
  display: flex;
  flex-direction: column;
  padding-top: 98px;
  margin-right: 150px;
}

.rule {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 2px #E1E1E1;
  padding-bottom: 15px;
  padding-top: 15px;
  gap: 15px;
  width: 490px;
}

.rule_text {
  font-family: "SF Pro Display", sans-serif;
  color: #4D5D65;
  font-size: 13px;
  width: 300px;
}

.rule_title {
  display: flex;
  width: 250px;
  font-family: "SF Pro Display", sans-serif;
  color: #001723;
  font-size: 18px;
  gap: 4px;
}

.rule_title2 {
  display: flex;
  width: 250px;
  font-family: "SF Pro Display", sans-serif;
  color: #001723;
  font-size: 18px;
}

.rule_icon {
  width: 20px;
  height: 20px;
}

.rule_icon2 {
  width: 30px;
  height: 30px;
}

.prefooter {
  display: flex;
  width: 100%;
  background-color: #001405;
  border-bottom: solid 2px rgba(131, 140, 134, 0.5);
}

.prefooter_wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.prefooter_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 130px;
  padding-bottom: 130px;
  gap: 15px;
}

.prefooter_title {
  display: inline-block;
  color: #FFF;
  font-family: "SF Pro Display", sans-serif;
  font-size: 53px;
  font-weight: bold;
}

.zaebalo {
  font-size: 13px;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 400;
  color: #B0C1CA;
}

.start_btn {
  display: flex;
  font-family: "SF Pro Display", sans-serif;
  font-size: 17px;
  font-weight: 400;
  background-color: #00AA25;
  color: #FFF;
  border-radius: 50px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  gap: 3px;
}
@keyframes shake-icon {
  0% {
    transform: translate(-5px, 8px) rotate(-2deg);
  }
  33% {
    transform: translate(-5px, 8px) rotate(5deg);
  }
  66% {
    transform: translate(-5px, 8px) rotate(-2deg);
  }
  100% {
    transform: translate(-5px, 8px) rotate(3deg);
  }
}
.start_btn:hover {
  animation: shake-icon 0.7s infinite alternate;
}

.footer {
  display: flex;
  width: 100%;
  background-color: #001405;
  padding-top: 62px;
  padding-bottom: 52px;
}

.footer_wrapper {
  display: flex;
  width: 80%;
  margin: 0 auto;
  align-items: center;
}

.right_footer {
  display: flex;
  flex-direction: row;
  width: 60%;
  gap: 35px;
}

.left_footer {
  display: flex;
  flex-direction: row;
  width: 30%;
}

.footer_links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link_title {
  font-family: "SF Pro Display", sans-serif;
  color: #FFF;
  font-size: 13px;
}

.footer_link {
  font-family: "SF Pro Display", sans-serif;
  font-size: 10px;
  color: #78888F;
}

.footer_logo {
  width: 100px;
}

.store {
  width: 80px;
}/*# sourceMappingURL=main.css.map */