.important{
    display: flex;
    width: 100%;
    padding-bottom: 189px;
}

.important_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;

    @media screen and (max-width: 1301px) {
        flex-direction: column;
    }
}

.info{
    display: flex;
    flex-direction: column;
    padding-top: 133px;
}

.important_title{
    color: #001723;
    font-family: $font;
    font-weight: bold;
    font-size: 56px;

    @media screen and (max-width: 1301px) {
        font-size: 65px;
        text-align: center;
    }
}

.important_text{
    font-family: $font;
    color: #4D5D65;
    font-size: 14px;

    @media screen and (max-width: 1301px) {
        font-size: 18px;
        text-align: center;
    }
}

.danger_icon{
    width: 45px;
    height: 70px;

    @media screen and (max-width: 1301px) {
        display: none;
    }
}

.rules{
    display: flex;
    flex-direction: column;
    width: 37%;

    @media screen and (max-width: 1301px) {
        flex-direction: row;
        
    }
}

.rules{
    display: flex;
    flex-direction: column;
    padding-top: 98px;
    margin-right: 150px;

    @media screen and (max-width: 1301px) {
        flex-direction: row;
        // margin: 0 auto;
        margin-right: 80%;
    }
}

.rule{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 2px #E1E1E1;
    padding-bottom: 15px;
    padding-top: 15px;
    gap: 15px;
    width: 490px;

    @media screen and (max-width: 1301px) {
        width: 400px;
        border-bottom: none;
        border-right: solid 1px #E1E1E1;
        border-left: solid 1px #E1E1E1;
        gap: none;
    }
}

.rule_text{
    font-family: $font;
    color: #4D5D65;
    font-size: 13px;
    width: 300px;
    
    @media screen and (max-width: 1301px) {
        font-size: 16px;
    }
}

.rule_title{
    display: flex;
    width: 250px;
    font-family: $font;
    color: #001723;
    font-size: 18px;
    gap: 4px;

    @media screen and (max-width: 1301px) {
        font-size: 24px;
    }
}

.rule_title2{
    display: flex;
    width: 250px;
    font-family: $font;
    color: #001723;
    font-size: 18px;

    @media screen and (max-width: 1301px) {
        font-size: 24px;
    }
}

.rule_icon{
    width: 20px;
    height: 20px;
}

.rule_icon2{
    width: 30px;
    height: 30px;
}